<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="head :: head"></head>
<header th:include="navbar::navbar"></header>
<header th:include="subjectcampaignnavbar::navbar-subject"></header>

<div class="container">
    <style>
        .table {

            table-border-color-dark: blueviolet;
            --bs-table-striped-color: #dcb1e9;
            vertical-align: middle;
        }
    </style>
    <table class="table table-bordered text-black-100 caption-top">
        <caption>Campaigns</caption>
        <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Campaign name</th>
            <th scope="col">Subject</th>
            <th scope="col">Target amount</th>
            <th scope="col">Expiration date</th>
            <th scope="col">Owner</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="campaign : ${campaigns}">
            <td th:text="${campaign.id}"></td>
            <td>
                <a th:href="@{/campaign/name?text=__${campaign.campaignName}__}" class="link link-success" th:text="${campaign.campaignName}"></a>
            </td>
            <td th:text="${campaign.subject}"></td>
            <td th:text="${campaign.targetAmount}"></td>
            <td th:text="${campaign.expirationDate}"></td>
            <td th:text="${campaign.owner}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:insert="footer :: footer"></div>
</html>