<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="head :: head"></head>
<header th:include="navbar::navbar"></header>
<header th:include="subjectcompanynavbar::navbar-subject"></header>

<div class="container">
    <style>
        .table {

            table-border-color-dark: blueviolet;
            --bs-table-striped-color: #dcb1e9;
            vertical-align: middle;
        }
    </style>
    <table class="table table-bordered text-black-100 caption-top">
        <caption>Companies</caption>
        <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Subject</th>
            <th scope="col">Target amount</th>
            <th scope="col">Expiration Date</th>
            <th scope="col">Owner</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="company : ${companies}">
            <td th:text="${company.id}"></td>
            <td>
                <a th:href="@{/company/name?text=__${company.companyName}__}" class="link link-success" th:text="${company.companyName}"></a>
            </td>
            <td th:text="${company.subject}"></td>
            <td th:text="${company.targetAmount}"></td>
            <td th:text="${company.expirationDate}"></td>
            <td th:text="${company.owner}"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>