<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="head :: head"></head>
<body>
<header th:include="navbar::navbar"></header>
<header th:include="subjectcompanynavbar::navbar-subject"></header>
<div class="container col-lg-10 mx-auto">
    <p class="h1" th:text="${company.companyName}"></p>
    <p class="lead text-muted">Owner</p>
    <p class="lead text-muted" th:text="${company.owner}"></p>
    <p class="lead text-muted">Description</p>
    <p class="lead text-muted" th:text="${company.companyDescription}"></p>
    <p class="lead text">Target amount, $</p>
    <p class="lead text" th:text="${company.targetAmount}"></p>
    <p>
        <a href="#" class="btn btn-secondary my-2">Subscribe</a>
    </p>
    <p class="lead text">Bonuses</p>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col" th:each="bonus : ${company.bonusList}">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header text-body py-3">
                    <p class="lead text" th:text="${bonus.bonusName}"></p>
                    <p size="7" class="lead bigint" th:text="${bonus.amount + '$'}"></p>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title"></h1>
                    <ul class="text-body">
                        <li>
                            <p class="lead text" th:text="${bonus.description}"></p>
                        </li>
                    </ul>
                    <form th:id="${bonus.bonusName}" th:action="@{/bonus/buy?bonus=__${bonus.bonusName}__&company=__${company.companyName}__}" method="post">
                        <button class="w-100 btn btn-lg btn-outline-primary"
                                type="button"
                                th:attr="onclick='confirmBonus(\'' + ${bonus.bonusName} + '\', \'Do you want to buy ' + ${bonus.bonusName} + '?\')'">Buy</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="lead text col-lg-10 mx-auto">Company images</p>
<div class="container row col-lg-10 mx-auto row-cols-md-3">
    <div class="row" th:each="image : ${company.imageList}">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <img th:src="${image.url}" th:width="250" th:height="150" th:hspace="15" th:vspace="15" alt=""/>
        </div>
    </div>
</div>
<div th:insert="footer :: footer"></div>
<script type="text/javascript">
    function confirmBonus(bonus, message) {
        if (confirm(message)) {
            document.getElementById(bonus).submit();
        } else {
            return false;
        }
    }
</script>
</body>
