<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="head :: head"></head>
<header th:include="navbar::navbar"></header>
<header th:include="subjectcampaignnavbar::navbar-subject"></header>
<body>
<div class="container">
    <style>
        .table {
            vertical-align: middle;
        }
    </style>
    <table class="table table-bordered text-black-100 caption-top">
        <caption>My Campaigns</caption>
        <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Subject</th>
            <th scope="col">Target amount</th>
            <th scope="col">Expiration date</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="campaign : ${campaigns}">
            <td th:text="${campaign.id}"></td>
            <td>
                <a th:href="@{/campaign/name?text=__${campaign.campaignName}__}" class="link link-success"
                   th:text="${campaign.campaignName}"></a>
            </td>
            <td th:text="${campaign.subject}"></td>
            <td th:text="${campaign.targetAmount}"></td>
            <td th:text="${campaign.expirationDate}"></td>
            <td>
                <form th:action="@{/user/delete?name=__${campaign.campaignName}__}" method="post">
                    <button type="submit" class="btn btn-outline-warning">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<div th:insert="footer :: footer"></div>
</html>
