<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="navbar-subject">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="top-navbar"
                    aria-controls="top-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-subject">
                <ul class="navbar-nav me-auto mb-2 mb-md-auto">
                    <li class="nav-item">
                        <a class="btn btn-success" type="button" th:href="@{/companyreg}">Create a new
                            company</a>
                    </li>
                    <li class="nav-item">
                        <a class=" mx-2 btn btn-secondary m" type="button" th:href="@{/companies}">All companies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" type="button" th:href="@{/companies/type?subject=EDUCATION}">EDUCATION</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" type="button" th:href="@{/companies/type?subject=IT}">IT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" type="button" th:href="@{/companies/type?subject=MEDICINE}">MEDICINE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" type="button" th:href="@{/companies/type?subject=POLITICS}">POLITICS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" type="button" th:href="@{/companies/type?subject=SPORT}">SPORT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" type="button" th:href="@{/companies/type?subject=HELP}">HELP</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>