<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="head :: head"></head>
<header th:include="navbar::navbar"></header>
<header th:include="subjectcompanynavbar::navbar-subject"></header>
<body>
<div class="container">
    <style>
        .table {
            vertical-align: middle;
        }
    </style>
    <table class="table table-bordered text-black-100 caption-top">
        <caption>My Companies</caption>
        <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Subject</th>
            <th scope="col">Target amount</th>
            <th scope="col">Expiration date</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="company : ${companies}">
            <td th:text="${company.id}"></td>
            <td>
                <a th:href="@{/company/name?text=__${company.companyName}__}" class="link link-success"
                   th:text="${company.companyName}"></a>
            </td>
            <td th:text="${company.subject}"></td>
            <td th:text="${company.targetAmount}"></td>
            <td th:text="${company.expirationDate}"></td>
            <td>
                <form th:action="@{/user/delete?name=__${company.companyName}__}" method="post">
                    <button type="submit" class="btn btn-outline-warning">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-bordered text-black-100 caption-top">
        <caption>My Bonuses</caption>
        <thead class="table-dark">
        <tr>
            <th scope="col">Bonus name</th>
            <th scope="col">Description</th>
            <th scope="col">Company name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Investment amount, $</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bonus : ${bonuses}">
            <td th:text="${bonus.bonusName}"></td>
            <td th:text="${bonus.bonusDescription}"></td>
            <td>
                <a th:href="@{/company/name?text=__${bonus.companyName}__}" class="link link-success"
                   th:text="${bonus.companyName}"></a>
            </td>
            <td th:text="${bonus.quantity}"></td>
            <td th:text="${bonus.investmentAmount}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:insert="footer :: footer"></div>
</body>